* {
    font-family: "Montserrat", sans-serif;
}
#jumbotron {
    background-color: transparent;
    color: white;
}
.navbar {
    background-color: transparent;
}
.mainText {
    font-size: 15vw;
    color: #fc6666;
}
hr.light {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
    );
}
#pillText {
    transition: 0.3s;
    margin: 4rem 4rem;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: snow;
}
#pillText:hover {
    transform: translateY(-0.2em);
    background-color: rgb(20, 20, 20);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

#footer {
    color: #fc6666;
    padding-top: 0.5em;
    background-color: rgb(20, 20, 20);
    padding-bottom: 1em;
    border-radius: 0em;
    text-align: center;
    position: fixed;
    bottom: -2em;
    width: 100%;
}
#cardlink {
    color: rgb(252, 102, 102);
}
#project {
    background-color: transparent;
    color: snow;
}
#description {
    background-color: lightgrey;
    color: rgb(22, 22, 22);
    text-align: center;
    font-size: 16px;
    border-radius: 1em;
    margin-bottom: 4em;
}
#post {
    transition: 0.3s;
    cursor: "pointer"
}
#post:hover {
    transform: translateY(-0.4em);
}
#image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    object-position: 20% 10%;
    transition: 0.3s;
}
#image:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}
#textBreak {
    color: #ffffff;
    background-color: transparent;
    font-size: 40px;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
    #body1 {
        background-color: rgb(22, 22, 22);
    }
}